:root {
  color: black;

}
.ui.segment {
  color: black;
}
.landingContainer {
  /* width: '100vw'; */
}

.landingImage {
  /* width: '100vw'; */
}
.rail {


}
#leftRail{
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.138);
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 25vh;
  position: realtive;
  /* font-size: 3rem; */

}
